.quote {
    font-family: 'Pacifico', cursive;
    font-size: 600%;
    margin-top: 200px;
    color: black;
}

.buttonCheck {
    margin-top: 175px;
}

.quoteMe {
    color: brown;
    font-family: 'Pacifico', cursive;
}
